$gray-1: #333;
$gray-2: #4F4F4F;
$gray-3: #828282;
$gray-4: #bdbdbd;
$orange: #F2994A;


@font-face {
    font-family:'Italic-Playfair';
    src: url(./fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family:'Playfair Display';
    src: url(./fonts/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
    font-family:'Montserrat';
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}



    
    
